name: Rust

on:
  push:
    tags:
      - "v*"
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: cargo build --release

      - name: Run tests
        run: cargo test --verbose

      - name: Prepare artifacts
        run: |
          mkdir artifacts
          cp target/release/scli artifacts/
          cp scli.commands.yaml artifacts/
          cp scli.params.yaml artifacts/
          cp README.md artifacts/

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: artifacts/

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: build-output
          path: build-output

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: build-output/**
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
